<div class="layout-container">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>
    <span class="brand-title">ESTUDIO MUSICAL</span>
    <span class="spacer"></span>
    @if (currentRoles.length) {
      <span class="role-chip">{{ currentRoles.join(', ') }}</span>
    }
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Mi Cuenta</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesion</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" style="width: 260px;">
      <div class="sidenav-header">
        <span class="material-icons logo-icon">graphic_eq</span>
        <h3>Menu Principal</h3>
      </div>
      <mat-divider></mat-divider>

      <div class="menu-items">
        @for (item of menuItems; track item.route) {
          @if (canShow(item.roles)) {
            <a class="menu-item" mat-menu-item [routerLink]="item.route" routerLinkActive="active">
              <mat-icon>{{ item.icon }}</mat-icon>
              <span>{{ item.label }}</span>
            </a>
            <mat-divider></mat-divider>
          }
        }
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <div class="view-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
