<router-outlet></router-outlet>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Juan Pérez" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="$dataSource()" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="idCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.idCliente}} </td>
    </ng-container>

    <!-- nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
      <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
    </ng-container>

    <!-- telefono Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TELÉFONO </th>
      <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS </th>
      <td mat-cell *matCellDef="let row"> 
        <button mat-flat-button [routerLink]="['edit', row.idCliente]">
            <span>Edit</span>
            <mat-icon>edit</mat-icon>
        </button>

        <button mat-flat-button class="cancel-button" (click)="delete(row.idCliente)">
            <span>Delete</span>
            <mat-icon>delete</mat-icon>
        </button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[2, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

  <button mat-fab style="float: right;" routerLink="/pages/cliente/new">
    <mat-icon>add</mat-icon>
  </button>
</div>
<!-- Refactorización de interfaz realizada por Ronni Jhamil -->